<nav class="navbar navbar-expand-md navbar-dark bg-dark border-bottom border-info">
    <div class="col col-md-4 text-center" style="padding-left: 22%;">
      <a class="navbar-brand" href="/">
        <span id="logo-text">poe-ladder.com</span></a>
    </div>
    
    <div class="col col-md-4 text-center">
        <!-- <app-custom-league-modal></app-custom-league-modal> -->
    </div>
    
    <div class="col">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent" style="padding-right:25%;">
        <ul class="navbar-nav">
          <li class="nav-item m-0  mt-0">
            <a class="nav-link" href="#" id="feedback">feedback <br /></a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="#" id="changelog">changelog </a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="#reviews">about <br /></a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="#reviews">support<br /></a>
          </li>
        </ul>
      </div>
    </div>
    </nav>
    
    